{
  "extends": "@antfu",
  "rules": {
    "react/no-unknown-property": "off",
  },
  "overrides": [
    {
      "files": "test/**/*.*",
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
